@import url('https://fonts.googleapis.com/css2?family=Doppio+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --foreground-rgb: 0, 0, 0;
   --background-start-rgb: 214, 219, 220;
   --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
   :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
   }
}

body {
   color: rgb(var(--foreground-rgb));
   background: rgb(17 24 39);
}

@layer utilities {
   .text-balance {
      text-wrap: balance;
   }
}
.swal-modal {
   background-color: rgb(17 24 39);
   border-radius: 10%;
   font-family: 'Doppio One', ui-sans-serif, system-ui, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';
}
.swal-button {
   background-color: rgb(22 163 74);
}
.swal-text {
   color: rgb(241 245 249);
}

.swal-title {
   color: rgb(241 245 249);
}
.swal-button:hover {
   background-color: rgb(21 128 61) !important;
   color: rgb(24 24 27);
}
.swal-icon--success__hide-corners {
   background: none !important;
}
.swal-icon--success:before,
.swal-icon--success:after {
   background: none !important;
}
.modal-open {
   overflow: hidden;
}
::-webkit-scrollbar {
   width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
   background: #18181b;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #64748b;
   border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #16a34a;
}
